.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.item {
  margin: 10px;
  padding-left: 40px;
}

.item-box {
  background-color: rgb(231, 226, 226);
  /* width: 150px; */
  padding: 10px;
  border-radius: 2px;
  display: flex;
  cursor: pointer;
}

.folder-name {
display: flex;
margin-top: 10px;
}

.control-btns {
  display: flex;
  margin: 5px;
  margin-left: 10px;
}

.add-folder {
  background: rgb(190, 187, 187);
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
}

.add-file {
  background: rgb(190, 187, 187);
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
}
