.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.item {
  margin: 10px;
  padding-left: 40px;
}

.item-box {
  background-color: rgb(231, 226, 226);
  width: 100px;
  padding: 10px;
  border-radius: 2px;
}
